:root {
    --background: #ffffff;
    --dark-blue: #0d1b4c;
    --dark1-blue: #f0f1f5;
    --dark-text: #222;
    --white-text: #fff;
    --ligh-blue: #296eff;
    --bordercolor: #ccc;

}

body {
    margin: 0;
    padding: 0;
    color: var(--white-text);
    box-sizing: border-box;
    font-size: 22px;
background: #c4c2f0;
    background: linear-gradient(90deg, rgba(196, 194, 240, 1) 8%, rgba(203, 202, 237, 1) 23%, rgba(205, 204, 224, 1) 34%, rgba(207, 207, 232, 1) 44%, rgba(164, 162, 242, 1) 58%, rgba(162, 162, 232, 1) 73%, rgba(173, 180, 237, 1) 92%);    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
}
h2,h3 {
    color: var(--dark1-blue);
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    /* overflow: hidden; */
    border: 1px solid var(--bordercolor);
    margin: 100px;
}



.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
background: #3f3f45;
    background: linear-gradient(221deg, rgba(63, 63, 69, 1) 0%, rgba(28, 28, 102, 1) 2%, rgba(9, 9, 121, 1) 2%, rgba(4, 120, 194, 1) 75%, rgba(0, 212, 255, 1) 100%);    padding: 40px;
    border-right: 1px solid var(--bordercolor);
    /* max-width: 600px; */
}

.signup-form p {
    max-width: 500px;
}

.input-flex {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.description {
    flex: 1;
    padding: 40px;
background: #3f3f45;
    background: linear-gradient(221deg, rgba(63, 63, 69, 1) 0%, rgba(28, 28, 102, 1) 2%, rgba(9, 9, 121, 1) 2%, rgba(4, 120, 194, 1) 75%, rgba(0, 212, 255, 1) 100%);
}
.description p {
    min-width: 460px;
}


input {
    flex: 1;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
    float: none;
    border: 1px solid var(--bordercolor);

}

.short-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.short-inputs input {
    flex: 1;
    margin: 0;

}

.short-inputs div {
    flex: 1;
    border:  1px solid var(--bordercolor);
}

button {
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    font-size: 16px;
    background: var(--dark-blue);
    color: var(--white-text);
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    opacity: 0.8;
}

button:active {
    background: var(--white-text);
    color: var(--dark-blue);
}


@media(max-width: 1290px) {
    .signup-form, .description {
        border: 1px solid var(--bordercolor);
        border-radius: 10px;
        margin: 0 30px;
    }

    .description {
        margin-top: 50px;
    }

    .form {
        border: none;
    }


}


@media(max-width: 768px) {

    .signup-form {
        text-align: center;
    }

    .signup-form h2 {
        font-size: 26px;
    }

    .login-with-app button {

        margin: 10px;
    }
}



/* Styles for the log in*/
.fa-briefcase {
   font-size: 16px;
   font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
    border-radius: 10px;
    padding: 20px;
    color: var(--white-text);
background: #3f3f45;
    background: linear-gradient(221deg, rgba(63, 63, 69, 1) 0%, rgba(28, 28, 102, 1) 2%, rgba(9, 9, 121, 1) 2%, rgba(4, 120, 194, 1) 75%, rgba(0, 212, 255, 1) 100%);    border: 1px solid var(--bordercolor);
}

.login-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: none;
    max-width: 550px;
}

.login-section input {
    max-width: 580px;
}

.login-section button {
    margin: 10px auto;
    max-width: 280px;
    
}
.login-with-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border: none;
}

.login-with-app button {
    min-width: 250px;
}

.login-with-app a {
    margin-top: 10px;
    color: var(--bordercolor);

}

/* .number1 {
    font-size: 25px;
    color: #296eff;
} */

.description p {
    font-size: 20px;
}

