* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
background: #c4c2f0;
 background: linear-gradient(90deg, rgba(196, 194, 240, 1) 8%, rgba(203, 202, 237, 1) 23%, rgba(205, 204, 224, 1) 34%, rgba(207, 207, 232, 1) 44%, rgba(164, 162, 242, 1) 58%, rgba(162, 162, 232, 1) 73%, rgba(173, 180, 237, 1) 92%);
    font-family: Poppins, sans-serif;  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

section {
    flex: 1;
background: #3f3f45;
    background: linear-gradient(221deg, rgba(63, 63, 69, 1) 0%, rgba(28, 28, 102, 1) 2%, rgba(9, 9, 121, 1) 2%, rgba(4, 120, 194, 1) 75%, rgba(0, 212, 255, 1) 100%);
    padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}
input {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
label {
  margin-bottom: 5px;
  font-weight: bold;
}
.submit-btn {
  padding: 10px;
  font-size: 16px;
  background-color: #296eff;
  color: white;
  border: none;
  cursor: pointer;
}
.submit-btn:hover {
    opacity: 0.8;
}

a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #0d1b4c;
  text-decoration: none;
}

button {
    background: none;
    border: none;
    color: #0d1b4c;
    cursor: pointer;
    font-size: 1em;
    border: 1px solid #0d1b4c;
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 10px;
}

.third-party-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}
